<div class="container text-center mt-3">
    <div class="row mt-3 mb-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="font-weight-bold primary-font">{{errorTitle | uppercase}}</h3>
        </div>
    </div>
    <div class="row mb-4 text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img style="height: 35vh;" src="{{errorImage}}" alt="Error Occured" />
        </div>
    </div>
    <div class="row  text-center ml-2 mr-2 mt-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <h5 class="font-weight-bold primary-font">{{errorMessage}}</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5 class="font-weight-bold primary-font">{{errorMessageSecondary}}</h5>
        </div>
    </div>
</div>