<app-header></app-header>

<div class="main-container">
        <div class="container main-app-container">
                <div class="progress-loader-container mt-5" *ngIf="!loadingComplete">
                        <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
                        </mat-spinner>
                </div>
                <div *ngIf="loadingComplete">
                        <div class="row content-area" *ngIf="loadingComplete && !errorOccurred">
                                <div class="container mt-3">
                                        <div class="row mb-3">
                                                <div class="col-12">
                                                        <p class="lead search-text overflow-ellipsis">{{NoItems}}
                                                                result{{NoItems == 1 ? '' : 's'}} for
                                                                {{searchId}}</p>
                                                </div>
                                        </div>
                                </div>
                                <div>
                                <app-card *ngFor="let item of results | paginate: {itemsPerPage:perPage, currentPage:page, totalItems:NoItems }" [transactionData]="item"></app-card>
                                <pagination-controls class="text-center" (pageChange) = "onChangePage($event)" (pageBoundsCorrection) = "onChangePage($event)" autoHide = "true" responsive = "true" ></pagination-controls>
                                </div>
                        </div>
                        <div class="row content-area" *ngIf="loadingComplete && errorOccurred">
                                <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle"
                                        [errorMessage]="error.errorMessage"
                                        [errorMessageSecondary]="error.errorMessageSecondary">
                                </app-error-id>
                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>