<app-header></app-header>

<div class="main-container">
        <div class="container main-app-container">
                <div class="progress-loader-container mt-5" *ngIf="!loadingComplete">
                        <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
                        </mat-spinner>
                </div>
                <div *ngIf="loadingComplete" >
                        <div class="row content-area" *ngIf="loadingComplete && !errorOccurred">
                                <div class="container mt-1 mb-0">
                                        <div class="row titleMargin mb-3">
                                                <div class="col-sm-12 col-md-12 col-lg-12 " style="overflow-y: auto;  overflow-wrap: break-word;">
                                                        <p class="search-text overflow-ellipsis" style="white-space: pre-line;"><span class="searchResulitTitle">{{NoItems}}
                                                                Result{{NoItems == 1 ? '' : 's'}} for
                                                                {{searchId}}</span></p>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-0" >
                                <app-card class="col-sm-12 col-md-12 col-lg-12"  *ngFor="let item of results | paginate: {itemsPerPage:perPage, currentPage:page, totalItems:NoItems }" [transactionData]="item"></app-card>
                                <pagination-controls class="text-center" (pageChange) = "onChangePage($event)" (pageBoundsCorrection) = "onChangePage($event)" autoHide = "true" responsive = "true" ></pagination-controls>
                                </div>
                        </div>
                        <div class="row content-area" *ngIf="loadingComplete && errorOccurred">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle"
                                        [errorMessage]="error.errorMessage"
                                        [errorMessageSecondary]="error.errorMessageSecondary">
                                </app-error-id>
                        </div>
                        </div>
                </div>
        </div>
</div>
<app-footer></app-footer>
