<div class="container-fluid search-bar">
    <div class="row w-100">
      <div class="col-12 d-block d-lg-none text-right pt-2 pb-2">
        <button class="icon-only-btn" style="color: #3d3d3d; font-size: 18px;" (click)="popSearch = true"><span class="fa fa-search"></span></button>
      </div>
      <div class="col-10 d-none d-lg-block pr-md-0 mb-2 pt-4 pb-4">
        <input class="search-bar-input form-control my-0 py-1" type="text"  (keyup.enter)="search()" [value]="searchText"
          placeholder="Enter Transaction ID or TDP Id or Public Key" aria-label="Search" [formControl]="searchForm">
      </div>
      <div class="col-2 d-none d-lg-block pt-4 pb-4">
        <button type="button" class="btn btn-main" style="background-color: #3182BD; color: white;" (click)="search()">Search</button>
      </div>
    </div>
</div>

<div class="pop-search" *ngIf="popSearch">
  <div class="bg-white">
    <div class="container pt-3 pb-3">
      <div class="row no-gutters">
        <div class="col-8">
          <input class="search-input form-control" type="text"  (keyup.enter)="search()" [value]="searchText"
            placeholder="Search here..." aria-label="Search" [formControl]="searchForm">
        </div>
        <div class="col-2 py-2 text-right">
          <button type="button" class="icon-only-btn" (click)="search()"><span class="fa fa-search search-icons"></span></button>
        </div>
        <div class="col-2 py-2 text-center">
          <button type="button" class="icon-only-btn" (click)="popSearch = false"><span class="fa fa-times search-icons"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>