:host {
  min-width: 50%;
  max-width: 100%;
  /* flex-grow: 1; */
  flex: none;
  min-width: auto;
  overflow: auto;
  /* resize: horizontal; */
  position: relative;

  height: 100%;
  border: solid rgba(0,0,0,0.2) 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 14px 22px 8px 8px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

:host:not(:first-child) {
  margin-left: 3%;
}

#globalStorageFrame .header h6 {
    color: rgb(136, 133, 133);
    font-size: 13px;
    padding-left: 8px;
}

#globalStorageFrame .table th,
td {
  font-size: 12px;
  padding: 6px 8px;
}
