<app-header></app-header>
<div class="container">
  <div class="progress-loader-container mt-5" *ngIf="!loadingComplete">
    <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
    </mat-spinner>
  </div>
  <div class="container mt-3" *ngIf="loadingComplete && !errorOccurred">
    <div class="row mb-2">
      <div class="col-12">
        <div class="row">
        <div class="mr-3 ml-3 "><span  (click)="goBack()">   <i class="fas fa-angle-left clickableAwesomeFont" style="font-size: 30px;"></i></span></div>
        <h4>Transaction Details</h4>
      </div>
      </div>
    </div>
    <div class="col-12 col-md-12 pb-3 ml-0 pt-md-4 pl-md-4 pr-md-4" style="background-color: white;">
    <div class="col-xs-12 col-md-12 pb-3 mt-3" *ngIf="txnItem.images">
      <div class="row mt-2">
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide *ngFor="let imageData of txnItem.images">
                <div>
                  <img class="img-thumbnail" style="background: none; border: none; width:100%;height: 300px; object-fit: contain;" [src]="imageData.image" />
                </div>
              </ng-template>
            </owl-carousel-o>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12 mt-3 mt-md-4">
      <div class="col-xs-12 col-md-12 text-left  pb-1"
        style="background-color: white; border-bottom: 0.5px solid #dee2e6;">
        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.txnHash">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Transaction Hash
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.txnHash}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.transferType">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Transaction Type
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.transferType}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.availableProofs">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Available Proofs
          </div>
          <div class="col-12 col-md-9 " style=" overflow-y: auto;  overflow-wrap: break-word;">
            <div class="text-md-left text-center pl-md-1 mr-2" style="font-weight: 600;color:#818E94; float: left;"
              *ngFor="let proof of txnItem.availableProofs">
              <a href="#" onclick="return false;"><span (click)="navigateToProof(proof)"
                  class="pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
                  style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;">{{proof | uppercase}}</span>
              </a>
            </div>
            <div style="float: none;"></div>
          </div>
        </div>
        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.tdpId">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            TDP ID
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.tdpId}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.fromIdentifier1">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            From Identifier1
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.fromIdentifier1}}
          </div>
        </div>


        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.fromIdentifier2">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            From Identifier2
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.fromIdentifier2}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.identifier">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Identifier
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.identifier}}
          </div>
        </div>

        <!-- <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.productId">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Product ID
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.productId}}
          </div>
        </div> -->

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.productName">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Product Name
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.productName}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.stageId">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Stage ID
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.stageId}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.blockchain">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Blockchain
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.blockchain}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.ledger">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Ledger
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.ledger}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.status">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Status
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.status}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.timestamp">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Timestamp
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.timestamp | date: 'medium'}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.sender">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            From
          </div>
          <div class="col-12 col-md-9 " style=" overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.sender}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.receiver">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            To
          </div>
          <div class="col-12 col-md-9 " style=" overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.receiver}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.fee">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Transaction Fee
          </div>
          <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
            {{txnItem.fee}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.sequence.toString">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Sequence
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.sequence}}
          </div>
        </div>

        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="txnItem.inputData">
          <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
            Input Data
          </div>
          <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
            {{txnItem.inputData}}
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 center pt-5" style="color: #6C757D;">
      View this Transaction in Stellar<br>
      <a href="{{txnItem.labTxnUrl}}" target="_blank"><button class="mt-2 mb-2 mr-2 ml-2 btn btn-primary btn-main btnFixSize" type="button"
        style="width: fit-content;background-color: #3182BD;border:none">View on Stellar Lab</button></a>
        <a href="{{txnItem.txnUrl}}" target="_blank"><button class="mt-2 mb-2 mr-2 ml-2 btn btn-primary btn-main btnFixSize" type="button"
          style="width: fit-content;background-color: #3182BD;border:none">JSON View</button></a>
    </div>

  </div>
  <div class="container" *ngIf="loadingComplete && errorOccurred">
    <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle" [errorMessage]="error.errorMessage"
      [errorMessageSecondary]="error.errorMessageSecondary">
    </app-error-id>
  </div>
</div>
<app-footer></app-footer>
