<div   *ngFor="let index of [0,1,2,3,4]" class="card cardshadow  p-3 mt-1 mb-4" style="display: flex; justify-content: center; align-self: center;">
    <div class="row cardMargin no-gutters ">
    <div class="col-xs-12 col-sm-7 col-md-9 col-lg-10 col-xl-10 ">
        <div class="row  item">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '30px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '30px',
                width:'70px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="row  item">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="row  item">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="row  item">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 col-xl-3 ">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '20px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 col-xl-2  align-self-center justify-content-center">
        <div class="mt-4 item">
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                'border-radius': '5px',
                height: '50px',
                'background-color': '#E3EDF4',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
        </div>
    </div>
</div>
</div>