<app-header></app-header>
<div class="container">
  <div class="progress-loader-container mt-5" *ngIf="!loadingComplete">
    <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
    </mat-spinner>
  </div>
  <div class="container mt-5" *ngIf="loadingComplete && !errorOccurred">
    <div class="row mb-3">
      <div class="col-12">
        <h4>PROOF OF CHANGE OF CUSTODY (POCOC)</h4>
        <p>Proof of mutual consent between two accounts for change of custody of an item</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-12 text-left pt-2 pb-1"
      style="background-color: white; border-bottom: 0.5px solid #dee2e6;">
      <h2 style="font-weight: 500;color: #2D2F39;font-size: 28px;">Transaction Data</h2>
    </div>

    <div class="col-12 pb-3" style="background-color: white;">

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.txnHash'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Transaction Hash
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.txnHash}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.assetCode'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Asset Code
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.assetCode}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.quantity'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Quantity
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.quantity}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.sender'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Sender
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.sender}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.receiver'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Receiver
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.receiver}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.identifier'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Identifier
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.identifier}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.proofStatus'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Status
        </div>
        <div class="col-12 col-md-9" style="overflow: hidden; text-overflow: ellipsis;">
          <span class="pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
            style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;"><i
              class="far {{ txnItem.proofStatus == 'Success' ? 'fa-check-circle status-text-matched' : 'fa-times-circle status-text-not-matched' }} mr-1"
              style="font-size: 18px;"></i>{{txnItem.proofStatus}}</span>
        </div>
      </div>

      <!-- NG IF has to be written -->
      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4">
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Digitally Signed
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          <span class="mr-1 pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
            style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;"><i
              class="far {{ txnItem.senderSigned ? 'fa-check-circle status-text-matched' : 'fa-times-circle status-text-not-matched' }} mr-1"
              style="font-size: 18px;"></i>Sender</span>
          <span class="pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
            style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;"><i
              class="far {{ txnItem.receiverSigned ? 'fa-check-circle status-text-matched' : 'fa-times-circle status-text-not-matched' }} mr-1"
              style="font-size: 18px;"></i>Receiver</span>
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.timestamp'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Timestamp
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.timestamp | date: 'medium'}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.blockchain'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Public Blockchain
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.blockchain}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.fee'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Transaction Fee
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.fee}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.ledger'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Ledger
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.ledger}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='txnItem.sequence'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Sequence
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{txnItem.sequence}}
        </div>
      </div>

    </div>

    <!-- Uncomment This -->
    <!-- <div class="card mb-3 mt-3 pl-md-4 pt-md-4 pb-md-4">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12">
                <div class="card-topic text-center text-md-left pt-sm-2 pt-2 pb-sm-2 pb-2 pt-md-0 pt-3">
                  DETAILS FROM TRACIFIED
                  <span class="pl-md-0 pr-md-0 pl-2 pr-2"
                    style="display: block;text-transform: none;font-weight: 500;color:#818E94;font-size: 15px;">Following
                    data comes from Tracified Core. <a href="#" style="color: #2D2F39;">Learn more</a></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row mr-0 ml-0">
                  <div class="col-md-2 text-center text-md-left">
                    <img class="avatar-image" src="../../../../assets/img/avatar.png">
                  </div>
                  <div class="col-md-4 text-center text-md-left"
                    style="text-align:left;margin-top: auto;margin-bottom: auto;color:#293134;font-weight: 500;font-size:18px;">
                    Upul Nishantha
                  </div>
                  <div class="col-md-3 text-center text-md-left"
                    style="margin-top: auto;margin-bottom: auto;color:#818E94;font-weight: 400;font-size:18px;">
                    Field officer
                  </div>
                  <div class="col-md-3 text-center text-md-left"
                    style="margin-top: auto;margin-bottom: auto;color:#818E94;font-weight: 500;font-size:18px;">
                    <span class="mr-1 pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
                      style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;">Sender</span>
                  </div>
                </div>
                <div class="row mr-0 ml-0 mt-4">
                  <div class="col-md-2 text-center text-md-left">
                    <img class="avatar-image" src="../../../../assets/img/avatar.png">
                  </div>
                  <div class="col-md-4 text-center text-md-left"
                    style="text-align:left;margin-top: auto;margin-bottom: auto;color:#293134;font-weight: 500;font-size:18px;">
                    Tharindu Perera
                  </div>
                  <div class="col-md-3 text-center text-md-left"
                    style="margin-top: auto;margin-bottom: auto;color:#818E94;font-weight: 400;font-size:18px;">
                    Customer
                  </div>
                  <div class="col-md-3 text-center text-md-left"
                    style="margin-top: auto;margin-bottom: auto;color:#818E94;font-weight: 500;font-size:18px;">
                    <span class="mr-1 pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
                      style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;">Receiver</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row ">
              <div class="col-12">
                <div class="card-topic pt-md-0 pt-3  text-center text-md-left pt-sm-2 pt-2 pb-sm-2 pb-2">
                  DETAILS FROM TRACIFIED
                  <span class="pl-md-0 pr-md-0 pl-2 pr-2  pb-md-0 pb-3"
                    style="display: block;text-transform: none;font-weight: 500;color:#818E94;font-size: 15px;">Following
                    data comes from Tracified Core. <a href="#" style="color: #2D2F39;">Learn more</a></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row ml-0 mr-0 ">
                  <div class="col-md-3 pt-3 pb-0 pb-md-3 pl-3 pr-0 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0"
                    style="background-color: #F4F7FC;color: #2D2F39;font-size: 14px;font-weight: 700;">
                    Public Key :
                  </div>
                  <div
                    class="col-md-6 pt-3 pb-0 pb-md-3 pl-0 pr-0 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0 overflow-ellipsis"
                    style="background-color: #F4F7FC;font-weight: 600;color:#818E94;">
                    {{txnItem.sender}}
                  </div>
                  <div class="col-md-auto pt-3 pb-3 pl-0 pr-3 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0"
                    style="background-color: #F4F7FC;">
                    <span class="d-md-none copy-clipboard">Copy to clipboard </span><i class="far fa-clone"
                      style="color: #818E94;"></i>
                  </div>
                </div>

                <div class="row ml-0 mr-0 mt-4">
                  <div class="col-md-3 pt-3 pb-0 pb-md-3 pl-3 pr-0 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0"
                    style="background-color: #F4F7FC;color: #2D2F39;font-size: 14px;font-weight: 700;">
                    Public Key :
                  </div>
                  <div
                    class="col-md-6 pt-3 pb-0 pb-md-3 pl-0 pr-0 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0 overflow-ellipsis"
                    style="background-color: #F4F7FC;font-weight: 600;color:#818E94;">
                    {{txnItem.receiver}}
                  </div>
                  <div class="col-md-auto pt-3 pb-3 pl-0 pr-3 text-center text-md-left ml-3 mr-3  ml-md-0 mr-md-0"
                    style="background-color: #F4F7FC;">
                    <span class="d-md-none copy-clipboard">Copy to clipboard </span><i class="far fa-clone"
                      style="color: #818E94;"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <div class="col-xs-12 col-md-12 center pt-5" style="color: #6C757D;">
      View this Transaction in Stellar<br>
      <a href="{{txnItem.txnUrl}}" target="_blank"><button class="mt-2 btn btn-primary btn-main" type="button"
          style="width: fit-content;background-color: #3182BD;border:none">View Transaction</button></a>
    </div>
  </div>
  <div class="container" *ngIf="loadingComplete && errorOccurred">
    <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle" [errorMessage]="error.errorMessage"
      [errorMessageSecondary]="error.errorMessageSecondary">
    </app-error-id>
  </div>
</div>
<app-footer></app-footer>