<!-- This is the footer component -->
<footer class="footer mt-5 py-3">
  <div class="container">
    <div class="container">
      <!-- Content of the footer -->
      <div class="row align-items-end">
        <!-- Copyright  area -->
        <div class="col-md-3 col-xs-12 text-center text-md-left pl-md-0 footer-text">
          <img src="../../../../assets/img/logo.png" style="max-width: 200px;">

        </div>
        <!-- Logo placement -->
        <div class="col-md-6 col-xs-12 footer-text" style="text-align: center;">
          © TilliT {{currentYear}} All Rights Reserved.
        </div>
        <!-- Social icons -->
        <div class="col-md-3 col-xs-12 text-center text-md-right pr-md-0 footer-icons">
          <!-- Facebook -->
          <!-- <i class="fab fa-facebook"></i> -->
          <img src="../../../../assets/img/fb.svg">
          <!-- Twitter -->
          <img class="ml-2 mr-2"  src="../../../../assets/img/tw.svg">
          <!-- Instagram -->
          <img src="../../../../assets/img/instag.svg">
        </div>
      </div>
    </div>
  </div>
</footer>
