<app-header></app-header>
<div class="main-container">
    <div class="container main-app-container">
        <div *ngIf="!loadingComplete">
            <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
            </mat-spinner>
        </div>
        <div class="row content-area" *ngIf="loadingComplete && !errorOccurred">
            <div class="col-12 mt-3">
                <div class="row mb-3">
                    <div class="col-12">
                        <h4>Recent Transactions</h4>
                    </div>
                </div>
            </div>
            <app-card class="col-12" *ngFor="let item of results  | paginate: {itemsPerPage:perPage, currentPage:page, totalItems:NoPage*perPage }" [transactionData]="item"></app-card>
            <div>
                <pagination-controls class="text-center" (pageChange) = "onChangePage($event)" autoHide = "true" ></pagination-controls>
            </div>
        </div>
        <div class="row content-area" *ngIf="loadingComplete && errorOccurred">
            <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle"
                [errorMessage]="error.errorMessage" [errorMessageSecondary]="error.errorMessageSecondary">
            </app-error-id>
        </div>
    </div>
</div>

<app-footer></app-footer>