<div style="height: 100vh;">
  <proof-bot [vsHeightExpand]="true" [isTheater]="true"></proof-bot>
</div>
<!-- <div *ngIf="!isTheater">
  <app-header></app-header>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 pl-0">
        <div *ngIf="proofType == 'pobl'">
          <h4 class="text-muted" id="proofHeaderTitle">
            PROOF OF THE BACKLINK
          </h4>
          <p>Verify the backlink of given data packets through blockchain</p>
        </div>
        <div *ngIf="proofType == 'pog'">
          <h4 class="text-muted" id="proofHeaderTitle">
            PROOF OF THE GENESIS
          </h4>
          <p>Verify the creation of given data packet through blockchain</p>
        </div>
        <div *ngIf="proofType == 'poe'">
          <h4 class="text-muted" id="proofHeaderTitle">
            PROOF OF THE EXISTENCE
          </h4>
          <p>Verify the existence of given data packet through blockchain</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pl-0">
        <proof-bot
          [initialHeight]="'300px'"
          [initialWidth]="'600px'"
          [minHeight]="'82vh'"
          [minWidth]="'82vw'"
          [maxHeight]="'98vh'"
          [maxWidth]="'100vw'"
          [justifyContent]="'start'"
          [alignItems]="'start'"
        ></proof-bot>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->
