<app-header></app-header>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 0%;">
      <div class="text-center pr-3 pt-2">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 pb-2">
              <svg class="checkmark ml-auto mr-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
              </svg>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead mb-0" style="font-size: 18px;font-weight:600;color: #262728;">How to validate yourself ?
              </p>
              <p class="lead mt-0" style="font-size: 16px;">
                The previously shown hashes can also be matched manually by following the below mentioned steps.
              </p>
              <ol class="lead" style="font-size: 14px;font-weight:500;">
                <li>
                  Click the 'Copy to clipboard' <i class="far fa-clone" style="font-size: 18px;" aria-hidden="true"
                    style="color: #818E94;"></i>
                  icon in your details section.
                </li>
                <li class="mt-1">
                  Append the identifier from the transaction to the copied text which would be in <a
                    href="https://en.wikipedia.org/wiki/Base64" target="_blank">Base64</a> encoded format.
                </li>
                <li class="mt-1">
                  Now hash the above created string using <a href="https://en.wikipedia.org/wiki/SHA-2"
                    target="_blank">SHA-256 hashing algorithm.</a>
                </li>
                <li class="mt-1">
                  Finally the above generated hash value can be compared with the data hash included in the blockchain
                  transaction.
                </li>
              </ol>
              <p class="lead mt-0" style="font-size: 16px;">
                For further support and information feel free to reach out to us. We are more than glad to assist.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="progress-loader-container mt-5" *ngIf="!loadingComplete">
    <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
    </mat-spinner>
  </div>
  <div class="container mt-5" *ngIf="loadingComplete && !errorOccurred">
    <div class="row mb-3">
      <div class="col-lg-7 col-sm-12 col-xs-12">
        <div class="row">
          <div class="mr-2 ml-3"><span (click)="goBack()"><i class="fas fa-angle-left clickableAwesomeFont"
                style="font-size: 30px;"></i></span></div>
          <div>
            <h4>PROOF OF EXISTENCE (POE)</h4>
            <p style="font-size: 12px;">Proof that a given data packet existed in the blockchain</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 col-xs-12">
        <div class="row  flex-container">
          <div class="mr-3">
            <a [href]="proofbotDomain + '/?type=poe&txn=' + tdpId" target="_blank">
              <span (click)="navigateToProof(proof)"
                class="pl-3 pr-3 pt-2 pb-2 badge badge-primary"
                style="font-size: 14px;background-color:#3182BD;color:#FFFFFF;font-weight: 500; line-height: 16.41px; margin-bottom: 0.3rem;">
                {{"Verify Proof"}}
              </span>
            </a>
          </div>
        </div>
        <div class="row flex-container">
          <div class="mr-3"><p style="font-size: 12px;">Powered by Tracified ProofBot</p></div>
        </div>
      </div>
    </div>
    <div class="mb-3" style="background-color: #fff;">
      <div class="row align-self-center ">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 mb-2">
          <div class="pt-2 pb-2 pl-3 ml-2 row no-gutters status-border {{ hashesMatch ? 'matched' : 'not-matched'}} ">
            <div class="card-topic col-md-12 col-sm-12 col-xs-12 text-left pt-sm-2 pt-2 pb-sm-1 pb-1">
              <h2 style="font-weight: 500;color: #2D2F39;font-size: 24px;">
                {{ hashesMatch ? 'Hashes Matched' : 'Hashes Not Matched'}}
                <i class="fas ml-5 {{ hashesMatch ? 'fa-check-circle status-text-matched' : 'fa-times-circle status-text-not-matched'}} "
                  style="font-size: 18px;"></i>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 align-self-center text-center">
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseshowResult">Show Result <i
              class="fas ml-5 fa-caret-down" style="font-size: 18px;"></i></button>
        </div>
      </div>
      <div class="showResult">
        <div id="collapseshowResult" [ngbCollapse]="isCollapsed">
          <div class="row mb-3 mt-3 ">
            <div class="col-12 col-md-12 ">
              <div class="row pl-3">
                <div class="col-12 col-md-9 text-left ">
                  <div style="font-size: 18px; font-weight:500;">
                    Hash value from Tracified
                  </div>
                  <div class="mt-2  mr-2" style="font-weight: 700;  overflow-y: auto;  overflow-wrap: break-word;">
                    {{transactionData.DbHash | lowercase}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 mt-3">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="row  pl-3 ">
                <div class="col-12 col-sm-12 col-md-9 text-left" style="margin-top: auto;margin-bottom: auto; ">
                  <div style="font-size: 18px; font-weight:500;">
                    Hash value from Blockchain
                  </div>
                  <div class=" mt-2 mr-2" style="font-weight: 700;  overflow-y: auto;  overflow-wrap: break-word;  ">
                    {{transactionData.BcHash | lowercase}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 text-left pt-2 pb-1"
      style="background-color: white; border-bottom: 0.5px solid #dee2e6;">
      <h2 style="font-weight: 500;color: #2D2F39;font-size: 28px;">Transaction Data</h2>
    </div>
    <div class="col-xs-12 col-md-12 pb-4 ml-0 " style="background-color: white;">
      <div class="row pt-2">
        <div class="col-md-12 text-right">
          <button class="icon-only-btn float-right" (click)="copyB64Clipboard()">
            <i class="far fa-clone" style="font-size: 18px;" aria-hidden="true" style="color: #818E94;"></i>
          </button>
          <div class="copy-notification float-right px-2" *ngIf="textCopied" [@inOutAnimation]>
            <p class="m-0">Copied</p>
          </div>
          <div class="float-none"></div>
        </div>
      </div>
      <!-- <div
        *ngFor="let item of tracifiedCoreData.data | keyvalue">
        <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="!isContainImage(item.value)">
        <div class="col-sm-12 col-md-3  col-lg-3  pl-md-4  pt-3 pt-md-0 trasactionDataMobileResponsive" style="font-size: 18px; font-weight:500;">
        {{CapitalFirstLetterAndPutSpace(item.key)}}
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 align-item-center" style=" overflow-y: auto; max-height:150px;">
          <div class="row align-self-center " *ngIf="!isObject(item.value)&&!isContainImage(item.value)">
            <div class="col-sm-12 col-md-8 col-lg-9 align-self-center" style="font-size: 14px;  overflow-wrap:break-word;"  >
          <p> {{item.value }}</p>
            </div>
          </div>
          <div *ngIf="isObject(item.value)">
          <div class="row align-self-center"  *ngFor="let subItem of item.value  | keyvalue" style="overflow-y: auto; ">
            <div class="col-sm-12 col-md-6 col-lg-6 align-item-center" style=" font-size: 14px; font-weight:420; overflow-wrap:break-word; ">
              <p>  {{CapitalFirstLetterAndPutSpace(subItem.key)}} :</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 align-item-center" style=" font-size: 14px; overflow-y: auto;  overflow-wrap:normal;"  >
              <p>  {{subItem.value }}</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div> -->
      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.Txnhash'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Transaction Hash
        </div>
        <div class="col-12 col-md-9 " style=" overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.Txnhash}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="transactionData.SequenceNo.toString">
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Sequence
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.SequenceNo}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.SourceAccount'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Public Key
        </div>
        <div class="col-12 col-md-9 " style=" overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.SourceAccount}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.Identifier'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Identifier
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.Identifier}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.Status'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Status
        </div>
        <div class="col-12 col-md-9" style="overflow-y: auto;  overflow-wrap: break-word;">
          <span class="pl-3 pr-3 pt-2 pb-2 badge badge-pill badge-primary"
            style="font-size: 14px;background-color: #F3F1FF;color:#818E94;font-weight: 700;"><i
              class="far {{ transactionData.Status == 'BC Hash & DB Hash match.' ? 'fa-check-circle status-text-matched' : 'fa-times-circle status-text-not-matched' }} mr-1"
              style="font-size: 18px;"></i>{{transactionData.Status == 'BC Hash & DB Hash match.'
            ?"Success":"Error"}}</span>
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='tracifiedCoreData.header.stageID.toString'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Stage ID
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{tracifiedCoreData.header.stageID}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='tracifiedCoreData.header.item.itemName'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Product Name
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{tracifiedCoreData.header.item.itemName}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='tracifiedCoreData.header.item.itemID'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Product ID
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{tracifiedCoreData.header.item.itemID}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.Ledger.toString'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Ledger
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.Ledger}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.FeePaid.toString'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Fee
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto; text-overflow: ellipsis;">
          {{transactionData.FeePaid}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf="transactionData.Timestamp">
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Timestamp
        </div>
        <div class="col-12 col-md-9 " style="overflow-y: auto;  overflow-wrap: break-word;">
          {{transactionData.Timestamp | date: 'medium'}}
        </div>
      </div>

      <div class="row show-bottom-border mr-0 ml-0 pb-md-4 pt-md-4" *ngIf='transactionData.BlockchainName'>
        <div class="col-12 col-md-3 pl-md-4  pt-3 pt-md-0" style="font-size: 18px; font-weight:500;">
          Blockchain
        </div>
        <div class="col-12 col-md-9 " style="overflow: hidden; text-overflow: ellipsis;">
          {{transactionData.BlockchainName}}
        </div>
      </div>

    </div>
  </div>
  <div class="container" *ngIf="loadingComplete && errorOccurred">
    <app-error-id [errorType]="error.errorType" [errorTitle]="error.errorTitle" [errorMessage]="error.errorMessage"
      [errorMessageSecondary]="error.errorMessageSecondary">
    </app-error-id>
  </div>
</div>
<app-footer></app-footer>